.background {
    background-color: #211C2E;
    color: #ddced8;
}

/* ghostty */
.terminal-window box notebook header {
  background-color: #1a1b26;
  margin: 2px;
}
.terminal-window box notebook header tab {
  font-family: "Octal";
  background-color: #1a1b26;
  color: #E6DDD1;
  padding: 0.5px 8px;
  font-size: 14px;
}

.terminal-window box notebook header tab:hover {
  background-color: #24283b;
}

.terminal-window box notebook header tab:checked {
  color: #BF9FD8;
  background-color: #414868;
}
